server {
    listen 443 ssl;
    server_name {{ item.subdomain }}.{{ top_level_domain }};

    ssl_certificate {{ ssl_certificate.dest }}/{{ ssl_certificate.name }};
    ssl_certificate_key {{ ssl_key.dest }}/{{ ssl_key.name }};

    ssl_protocols TLSv1.2 TLSv1.3; 
    ssl_ciphers 'HIGH:!aNULL:!MD5';

    location / {
        proxy_pass http://{{ item.upstream_server }}:{{ item.upstream_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 80;
    server_name {{ item.subdomain }}.{{ top_level_domain }};
    return 301 https://$host$request_uri;
}

